[user]
	name = Jason Sewall
	email = jasewall@nvidia.com
[push]
	default = matching
[color]
  diff = auto
  status = auto
  branch = auto
	interactive = auto
[clean]
	requireForce = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
